.button {
	border: 1px solid $primary-color;
	padding: 1em;
	color: $primary-color;
	text-align: center;
	background-color: white;
}

.button:hover {
	color: $inverted-text-color;
	background-color: $primary-color;
	text-decoration: none;
}

.button:active {
	color: $primary-color;
	text-decoration: none;
}

.button_full-width {
	width: 100%;
	display: block;
}

// button-primary is inverted

.button_primary {
	border: 1px solid $inverted-text-color;
	padding: 1em;
	color: $inverted-text-color;
	text-align: center;
	background-color: $primary-color;
}

.button_primary:hover {
	background-color: lighten($primary-color, 10%);
}