.button {
	border: 1px solid $primary-color;
	padding: 1em;
	color: $primary-color;
	text-align: center;
	background-color: white;
}

.button_small {
	padding: 0.1em 0.5em;
}

.button:hover {
	color: $inverted-text-color;
	background-color: $primary-color;
	text-decoration: none;
}

.button:active {
	color: $primary-color;
	text-decoration: none;
}

.button_full-width {
	width: 100%;
	display: block;
}

// button-primary is inverted

.button_primary {
	border: 1px solid $inverted-text-color;
	color: $inverted-text-color;
	text-align: center;
	background-color: $primary-color;
}

.button_primary:hover {
	background-color: darken($primary-color, 10%);
}

.button_negative {
	border: 1px solid red;
	color: red;
}

.button_negative:hover {
	border: 1px solid white;
	color: white;
	background-color: red;
}


.button_negative-inverted {
	border: 1px solid white;
	color: white;
	background-color: red;
}