.button {
	border: 1px solid $primary-color;
	color: $primary-color;
	text-align: center;
	background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  padding: 1em;
  margin-bottom: 1em;
  transition: all .3s ease-out;
}

.button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.button_small {
	padding: 0.1em 0.5em;
}

.button:hover {
	color: $inverted-text-color;
	background-color: $primary-color;
	text-decoration: none;
}

.button:active {
	color: $primary-color;
	text-decoration: none;
}

.button_full-width {
	width: 100%;
	display: block;
}

// button-primary is inverted

.button_primary {
	border: none;
	color: $inverted-text-color;
	text-align: center;
	background-color: $primary-color;
}

.button_primary:hover {
	background-color: darken($primary-color, 10%);
}

.button_negative {
	border: 1px solid red;
	color: red;
}

.button_negative:hover {
	border: 1px solid white;
	color: white;
	background-color: red;
}


.button_negative-inverted {
	border: 1px solid white;
	color: white;
	background-color: red;
}
