.doodle-date-form__label {
	font-weight: normal;
	color: #ccc;
}

.doodle-date-form__input {
	border: none;
	border-bottom: 1px solid lighten($divider-color, 20%);
	text-align: left;
	margin-left: 1em;
}


// animations

.doodle-date-form.ng-enter {
	transition: 1s ease-out all;
  opacity: 0;
}

.doodle-date-form.ng-enter-active {
  opacity: 1;
}

.doodle-date-form.ng-leave {
  transition: 0.3s ease-out all;
  opacity: 1;
}

.doodle-date-form.ng-leave-active {
  opacity: 0;
}




