body {
	color: $primary-text-color;
}

a,
a:hover,
a:focus
{
  color: $primary-color;
  text-decoration: none;
}

hr { margin: 1em -1em;

}

.muted-text {
	color: $secondary-text-color;
}


.float-right {
  float: right;
}

.hide {
  display: none;
}
