<h2>Participate Doodle</h2>
<p>{{doodleParticipate.doodle.title}}</p>
<p>{{doodleParticipate.doodle}}</p>
<label for="name">Name</label>
<form ng-submit="doodleParticipate.submitOptions()"><input name="name" type="text" ng-model="doodleParticipate.name">
<ul>
  <li ng-repeat="date in doodleParticipate.doodle.dateProposals">
    {{date.start}}
    <input type="checkbox" name="{{date._id}}" value="yes" ng-model="doodleParticipate[{{date._id}}]"> Teilnehmen
  </li>
</ul>
<input type="submit" value="Senden"></form>