<p>{{home.loginMessage}} <a ng-show="home.loginMessage" ng-click="home.logout()" class="button button_small" tabindex="5">Logout</a></p>

<a href="#/EditDoodle" tabindex="1"><div class="button button_primary">
  <h1>Neuen Termin finden</h1>
  Der einfachste Weg einen Termin für alle zu finden.
</div></a>

<div  ng-show="home.showMyDoodles">
  <h2>Meine Doodles</h2>
  <div class="card">
    <div ng-repeat="doodle in home.doodles">
      <div>
        <hr ng-if="$index > 0">
        <h3><a href="" ng-click='home.editDoodle(doodle._id)' tabindex="2">{{doodle.title}}</a></h3>

        <p>
          <button ng-click='home.showDoodleStatus(doodle.registerId)' class="button button_small" tabindex="2">Status</button>
          <button ng-click='home.deleteDoodle(doodle._id)' class="button button_small button_negative" tabindex="2">Löschen</button>
        </p>
      </div>

    </div>
  </div>
</div>

<p><a ng-hide="home.loginMessage" href="#/Login" class="button button_full-width">Login</a></p>

