<p class="card" ng-show="home.loginMessage">{{home.loginMessage}} <a ng-click="home.logout()" class="button button_simple" tabindex="5">Logout</a></p>

<a href="#/EditDoodle" tabindex="1"><div class="button button_primary">
  <h1>Neuen Termin finden</h1>
  Der einfachste Weg einen Termin für alle zu finden.
</div></a>

<div  ng-show="home.showMyDoodles">
  <h2>Meine Doodles</h2>
  <div class="card">
    <div ng-repeat="doodle in home.doodles">
      <div ng-click='home.showDoodleStatus(doodle.registerId)' >
        <hr ng-if="$index > 0">
        <div class="float-right">
          <button ng-click='home.editDoodle(doodle._id)' class="button button_simple">Bearbeiten</button>
          <button ng-click='home.deleteDoodle(doodle._id)' class="button button_simple button_simple_negative">Löschen</button>
        </div>

        <h3><a href="" ng-click='home.showDoodleStatus(doodle.registerId)' tabindex="2">{{doodle.title}}</a><br>
          <small>{{doodle.place}}</small></h3>


      </div>

    </div>
  </div>
</div>

<p><a ng-hide="home.loginMessage" href="#/Login" class="button button_full-width">Login</a></p>

