<h2>{{registerDoodle.doodle.title}}</h2>
<p>{{registerDoodle.doodle.place}}</p>


<div class="card">
  <h3>Wann hast du Zeit?</h3>
  <hr>
  <div ng-repeat="dateProposal in registerDoodle.doodle.dateProposals">
      <div class="dateProposal__date-time">
        <span class="dateProposal__date">{{dateProposal.start | date:'EEEE, dd. MM. yyyy'}}</span> <span class="dateProposal__time">{{dateProposal.start | date:'HH:MM'}}</span>
      </div>
      <button ng-show="registerDoodle.isAccepted(dateProposal._id)" ng-click='registerDoodle.acceptDateProposal(dateProposal._id)' class="button button_small button_primary">Habe Zeit</button>
      <button ng-hide="registerDoodle.isAccepted(dateProposal._id)" ng-click='registerDoodle.acceptDateProposal(dateProposal._id)' class="button button_small">Habe Zeit</button>

      <button ng-hide="registerDoodle.isAccepted(dateProposal._id)" ng-click='registerDoodle.rejectDateProposal(dateProposal._id)' class="button button_small button_negative-inverted">Keine Zeit</button>
      <button ng-show="registerDoodle.isAccepted(dateProposal._id)" ng-click='registerDoodle.rejectDateProposal(dateProposal._id)' class="button button_small button_negative">Keine Zeit</button>
      <div class="dateProposal__participations text-muted">
        Passt für:
        <span ng-repeat="acceptedBy in dateProposal.acceptedBy">
          {{acceptedBy}}
        </span>
      </div>
    <hr>
  </div>
<div>


<div class="form-group">
  <label for="location" class="form-group__label">Dein Name</label>
  <input id="location"  class="form-group__input form-group__input_big" type="text" ng-model="registerDoodle.name" value="{{registerDoodle.name}}"  placeholder="Name"/>
</div>

<p>
  <a ng-click='registerDoodle.putDoodle()' class="button button_primary button_full-width">Absenden</a>
</p>

